@font-face {
  font-family: 'SentinelFont';
  src: url('../../assets/fonts/EightBitDragon-anqx.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media screen and (max-width: 600px) {
  .center {
    flex-direction: column;
  }
}

.title{
  font-family: 'SentinelFont';
}

p{
  font-family: 'SentinelFont';
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.bg-img {
  z-index: 0;
  --background: none;
  background-image: url('../../assets/images/screen-shoot0.png');
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .bg-img {
    background-position: right;
    background-image: url('../../assets/images/screen-shoot0_0.png');
  }
}
@keyframes palpitating {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.center{
  display:flex; justify-content: space-evenly; align-items:center;
}

.palpitating-button {
  animation: palpitating 1s infinite;
}

button{
  background-color: #8c8c8c;
  padding: 15px;
  border: solid black 3px;
  font-family: 'SentinelFont';
  margin-top: 100px;
}

.blurred-div{
  text-align: center;
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-color: rgba(59, 59, 59, 0.3); /* set semi-transparent background color */
  padding: 10px; /* add some padding */
  backdrop-filter: blur(5px); /* apply backdrop blur effect */
  box-shadow: -2px -1px 200px 0px rgba(59, 59, 59,0.75);
  -webkit-box-shadow: -2px -1px 200px 0px rgba(59, 59, 59, 0.75);
  -moz-box-shadow: -2px -1px 200px 0px rgba(59, 59, 59, 0.75);
}


.gallery{
  margin-top: 100px;
}

.image-container{
  padding: 5%;
  margin: 20%;
  background-image: url("../../assets/images/Menu_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  // border:rgba(0, 0, 0, 0.5) 10px solid
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.gallery-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: dense;
}
.image{
  width: 450px;
  height: 250px;
  // border: 10px solid #ccc; /* creates a solid frame with a thickness of 20 pixels and a light gray color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* adds a drop shadow effect to create depth */
  padding: 10px; /* adds padding inside the frame to separate the content from the border */
  background-color: white; /* sets the background color of the frame to white */
  margin-bottom: 25px;
}
.image-rounded{
  width: 200px;
  height: 200px;
  // border: 5px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  // padding: 5px;
  background-color: white;
  border-radius: 50%; /* sets the border radius to 25px */
}

.image-square{
  width: 100%;
  max-width: 325px;
  height: 300px;
  max-height: 100%;
  margin: 20px;
  object-fit: cover;
}
.new-background-color{
  --background: none;
  background-image: url('../../assets/images/Menu_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  animation: background-scroll 30s linear infinite;
}

@keyframes background-scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.credits-card{
  margin:20px;
  padding: 10px;
  --background: none;
  background-image: url('../../assets/images/Menu_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  animation: background-scroll 30s linear infinite;
}
.credits-card-header{
  background-color: #79444a;
  // padding:6px;
  margin:20px;
  border: solid 4px black;
}

@keyframes background-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
