<ion-header>
  <ion-toolbar>
    <ion-title>Videojuego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-image: url('https://cdn.player.one/sites/player.one/files/2022/02/21/rogue-tower-patch-1.0.12.jpg'); text-align: center; height: 100%">
    <h1>Bienvenido al Videojuego</h1>
  </div>

  <div style="display: flex; ">

    <ion-card color="primary" style="flex-grow: 1">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Card Content
      </ion-card-content>
    </ion-card>

    <ion-card color="secondary" style="flex-grow: 1">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Card Content
      </ion-card-content>
    </ion-card>

    <ion-card color="tertiary" style="flex-grow: 1">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Card Content
      </ion-card-content>
    </ion-card>
  </div>
