<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title style="font-family:SentinelFont;"><img src="../../assets/images/Wizard_water.png" style="width: 24px;"/> Sentinel</ion-title>
    <ion-buttons slot="end">
      <ion-button title="User manual" (click)="goToPdf('User-manual')">
        <ion-icon name="book"></ion-icon>
      </ion-button>
      <ion-button title="Technical documentation" (click)="goToPdf('Sentinel-technical-documentation')">
        <ion-icon name="document"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="bg-img">
    <div class="center">
      <img src="../../assets/images/Sentinel_2.png" alt="">
      <!-- <h1 class="title" style="font-size: 8vw;">Sentinel</h1> -->
    </div>
    <div class="center">
      <button class="palpitating-button">PLAY NOW!</button>
      <button (click)="openModal()">ANSWER SURVEY</button>
      <!-- <button>Credits</button> -->
    </div>
    <div class="blurred-div">
        <p>
          Sentinel is a an tower defense game in a magical world, where you have to collect some resources while you
          protect your base from the enemies!
        </p>
        <p>
          Combine different types of mages and create stronger attacks!
        </p>
    </div>
  </div>
  <div class="gallery">
    <div class="center">
      <h1 class="title">Gallery</h1>
    </div>
    <ion-grid >
      <ion-row>
        <ion-col size="12" size-md="6">
          <div class="credits-card">
            <div class="center"><h4 class="title">Create destructive combinations!</h4></div>
            <div class="center"><img src="../../assets/images/1.png" class="image"/></div>
          </div>
        </ion-col>
        <ion-col size="12" size-md="6">
          <div class="credits-card">
            <div class="center"><h4 class="title">Collect resouces!</h4></div>
            <div class="center"><img src="../../assets/images/2.png" class="image"/></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6">
          <div class="credits-card ">
            <div class="center"><h4 class="title">Elemental wizards at your command!</h4></div>
            <div class="center"><img src="../../assets/images/4.png" class="image"/></div>
          </div>
        </ion-col>
        <ion-col size="12" size-md="6">
          <div class="credits-card">
            <div class="center"><h4 class="title">Create your strategies!</h4></div>
            <div class="center"><img src="../../assets/images/3.png" class="image"/></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="center">
      <h1 class="title">Credits</h1>
    </div>
    <ion-grid class="credits center">
      <ion-row>
        <ion-col size="12" size-md="4" style="padding:10px;">
          <div class="credits-card">
            <div class="credits-card-header center">
              <h4 class="title">Brayan Prieto Lozoya</h4>
            </div>
            <div class="center">
              <img class="image-square" src="../../assets/images/brayan.jpg" alt="">
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-md="4" style="padding:10px;">
          <div class="credits-card">
            <div class="credits-card-header center">
              <h4 class="title">Fernando Tarango De La Vega</h4>
            </div>
            <div class="center">
              <img class="image-square" src="../../assets/images/fer.jpg" alt="">
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-md="4" style="padding:10px;">
          <div class="credits-card">
            <div class="credits-card-header center">
              <h4 class="title">Ilse Paulina Torres Borunda</h4>
            </div>
            <div class="center">
              <img class="image-square" src="../../assets/images/pau.jpg" alt="">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-footer style="text-align:center">
    <ion-toolbar>
      <ion-button href="https://www.facebook.com/bisnest.cuu"><ion-icon slot="icon-only" name="logo-facebook"></ion-icon></ion-button>
      <ion-button href="https://www.instagram.com/bisnest.cuu"><ion-icon slot="icon-only" name="logo-instagram"></ion-icon></ion-button>
    </ion-toolbar>
    <ion-toolbar>
      <ion-text>Copyright &copy; 2023 Sentinel Inc.</ion-text>

    </ion-toolbar>
  </ion-footer>
</ion-content>
